{
	"extends": [
		"@typhonjs-config/eslint-config/esm/2022/browser",
		"@typhonjs-fvtt/eslint-config-foundry.js",
		"eslint:recommended",
		"prettier",
		"plugin:svelte/recommended"
	],
	"plugins": ["prettier"],
	"globals": {
		"warpgate": "readonly",
		"fromUuid": "readonly",
		"fromUuidSync": "readonly"
	},
	"env": {
		"jquery": true
	},
	"overrides": [{ "files": ["*.svelte"], "parser": "svelte-eslint-parser" }],
	"rules": {
		"brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
		"no-shadow": [
			"error",
			{
				"builtinGlobals": true,
				"hoist": "all",
				"allow": ["document", "event", "name", "parent", "status", "top"]
			}
		],
		"id-length": ["warn", { "exceptions": ["i", "x", "y"], "properties": "never" }],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"endOfLine": "auto"
			}
		]
	}
}
